---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



// - 여기서는 폰트가 적용되지 않음 -
// "Cafe24Oneprettynight"
// @font-face {
//     font-family: 'Cafe24Oneprettynight';
//     src: local('Cafe24Oneprettynight'), url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

//font-family : "Cafe24Oneprettynight"
